
<div class="container">
        <div class="row">
          <div class="col-md-9">
              <h3>Buy a product</h3>
              <p>
                  Select seller: <select onchange="getProducts()" id="seller" class="">
                      <option>Choose</option>
                  </select>
              </p>
              <div id="product-list">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Price</th>
                          <th scope="col">Owner address</th>
                          <th scope="col">Buy</th>
                        </tr>
                      </thead>
                      <tbody id="product-tb">
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
        <script>
          function BuyProduct(event) {
            event.preventDefault()
            const $elm = $(event.target);
            $elm.prop("disabled", "disabled")
            var postData = $elm.closest('tr').data()
            $.ajax({
              method: "POST",
              url: "/api/buy-product",
              data: postData
            })
            .done(function(res){
              console.log(res)
              getProducts()
              window.getBalance()
            })
            return false
          }
      
          function getProducts(){
            const userId = $("#seller").val()
            if (!userId) {
                return
            }
            $.ajax({
              method: "GET",
              url: "/api/get-products?userId=" + userId,
            })
            .done(function(data) {
              let html = ""
              data.forEach(product => {
                html += `<tr data-product="${product.id}" data-price="${product.price}" data-seller="${userId}" data-owner="${product.owner}" >
                  <td>${product.name}</td>
                  <td>${product.price}</td>
                  <td scope="row">${product.owner}</td>
                  <td><button onclick="BuyProduct(event)" class="btn btn-sm btn-info ${product.purchased ? 'hide' : ''} ">Buy</button></td>
                </tr>`
              })
              $("#product-tb").html(html)
            })
          }
          $.ajax('/api/all-sellers')
          .done(data => {
              html = data.map(user => `<option value="${user.id}">${user.fullName}</option>`).join("")
              $("#seller").html("<option>Choose</option>" + html)
          })
    
        </script>