<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Blockchain Store</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    Your balance: <span id="balance">0.0</span>
  </nav>
  <% if (user && user.id) { %>
  <span>Welcome: <strong><%= user.fullName %></strong></span>
  <% } else { %>
  <a class="btn btn-outline-primary mr-3" href="/register">Sign up</a>
  <a class="btn btn-outline-success" href="/login">Login</a>
  <% } %>
</div>
<script>
  window.getBalance = function () {
    $.getJSON('/api/my-account')
      .done(res => {
        $("#balance").html(res.eth)
      })
  }
  getBalance();
</script>