
<!doctype html>
<html lang="en">
    <% include ./part/header %>
  <body>
    <% include ./part/nav %>
<% if (user && user.role == 'Seller') {%>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Hello!</h1>
      <p id="deploy_contract">
        To add new product, you must <span class="btn btn-link cursor" onclick="deployContract()">deploy contract first</span>
      </p>
      <p><a href="/products"> Add product</a></p>
</div>
<% } else if (user && user.role == 'Customer') { %>
  <% include ./part/buy-product %>
<% } else { %>
  <p class="alert alert-warning">Please <a href="/login">Login</a></p>
  <% } %>
<div class="container">
  <div class="card-deck mb-3 text-center">

  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
<script>
  function deployContract(){
    $.ajax({
        method: "POST",
        url: "/api/deploy-seller-contract",
        data: {}
      })
      .done(function(res){
        console.log(res)
        $("#deploy_contract").remove();
      })
  }
</script>