
<!doctype html>
<html lang="en">
    <% include ./part/header %>
  <body>
    <% include ./part/nav %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2>Login to system</h1>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
        <form method="POST" class="needs-validation" id="form-register" onsubmit="submitForm(event)">
            <div class="mb-3">
              <label for="email">Email or username</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="you@example.com">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" required class="form-control" name="password" id="password" >
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
          </form>
    </div>
  </div>
  <script>
    function submitForm(event) {
      event.preventDefault()
      const arr = $("#form-register").serializeArray()
      const postData = {}
      arr.forEach(item => { postData[item.name] = item.value })
      $.ajax({
        method: "POST",
        url: "/api/login",
        data: postData
      })
      .done(function(res){
        console.log(res)
        location.href = '/'
      })
      return false
    }
  </script>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
