
<!doctype html>
<html lang="en">
    <% include ./part/header %>
  <body>
    <% include ./part/nav %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <form method="POST" class="needs-validation" id="form-product" onsubmit="submitForm(event)">
            <h3>--</h3>
            <div class="mb-3">
              <label for="email">Product name</label>
              <input type="text" class="form-control" name="name" id="email" required placeholder="Product name">
            </div>
            <div class="mb-3">
                <label for="password">ETH Price</label>
                <input type="text" required class="form-control" name="price" id="password" >
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
          </form>
    </div>
    <div class="col-md-9">
        <h3>Product list <button onclick="getProducts()" class="btn btn-success">Refresh</button></h3>
        <div id="product-list">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Owner address</th>
                  </tr>
                </thead>
                <tbody id="product-tb">

                </tbody>
            </table>
        </div>
    </div>
  </div>
  <script>
    function submitForm(event) {
      event.preventDefault()
      const arr = $("#form-product").serializeArray()
      const postData = {}
      arr.forEach(item => { postData[item.name] = item.value })
      $.ajax({
        method: "POST",
        url: "/api/create-product",
        data: postData
      })
      .done(function(res){
        console.log(res)
        getProducts()
        window.getBalance()
      })
      return false
    }

    function getProducts(){
      $.ajax({
        method: "GET",
        url: "/api/get-products",
      })
      .done(function(data) {
        let html = ""
        data.forEach(product => {
          html += `<tr>
            <td>${product.name}</td>
            <td>${product.price}</td>
            <th scope="row">${product.owner}</th>
          </tr>`
        })
        $("#product-tb").html(html)
      })
    }

    getProducts()
  </script>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
