
<!doctype html>
<html lang="en">
    <% include ./part/header %>
  <body>
    <% include ./part/nav %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2>Create your account</h1>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <form method="POST" class="needs-validation" id="form-register" onsubmit="submitForm(event)">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Full name</label>
                <input type="text" required="true" class="form-control" id="fullName" name="fullName" placeholder="" value="">
              </div>
            </div>
            <div class="mb-3">
              <label for="username" >Username</label>
                <input type="text" required class="form-control" name="username" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="text" required class="form-control" name="password" id="password" >
            </div>
            <div class="mb-3">
                <label for="account_address">Account Address</label>
                <input type="text" class="form-control" id="account_address" name="account_address" placeholder="account no">
            </div>
            <div class="mb-3">
                <label for="account_private_key">Account Private Key</label>
                <input type="text" class="form-control" id="account_private_key" name="account_private_key" placeholder="Enter your private key here..">
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="123 Street..">
            </div>
    
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="state">Role</label>
                <select class="custom-select d-block w-100" id="state" name="role" required>
                  <option value="">Choose...</option>
                  <option>Seller</option>
                  <option>Customer</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Create new account</button>
          </form>
    </div>
  </div>
  <script>
    function submitForm(event) {
      event.preventDefault()
      const arr = $("#form-register").serializeArray()
      const postData = {}
      arr.forEach(item => { postData[item.name] = item.value })
      $.ajax({
        method: "POST",
        url: "/api/register",
        data: postData
      })
      .done(function(res){
        console.log(res)
        if (res.id) {
          alert("Your account created !")
          location.href = '/login'
        }
      })
      return false
    }
  </script>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
